.features {
  @include container;
  @include background(100% 85%, top);
  background-image: $gradient-basic;
  margin-bottom: 85px;

  @media (min-width: $desktop) {
    background-image: none;
    padding-top: 139px;
    margin-bottom: 51px;
    position: relative;

    &::before {
      @include pseudo-element(auto, auto);
      background: radial-gradient(50% 37% at 50% 63%, #6600f5, rgba($color-alternate, 0));
      position: absolute;
      inset: -8% 58% 20% -4%;
      z-index: -1;
    }
  }
}

.features__wrapper {
  padding-bottom: 90px;
  border-bottom: 1px solid rgba($color-basic, 0.5);

  @media (min-width: $desktop) {
    padding-bottom: 163px;
  }
}

.features__title {
  @include title;
  padding-right: 20%;
  margin-bottom: 60px;

  @media (min-width: $desktop) {
    padding-right: 0;
    margin-bottom: 134px;
  }
}

.features__list {
  background-color: $color-alternate;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba($color-basic, 0.15);
  padding: 25px 13px 36px;
  position: relative;

  &::before {
    @include pseudo-element(auto, auto);
    @include background;
    @include image-set("phone-mobile");
    position: absolute;
    inset: -6% -2% -2% 50%;
  }

  @media (min-width: $desktop) {
    color: $color-alternate;
    background-color: $color-basic;
    background-image: linear-gradient(110deg, $color-basic 5%, $color-basic 17%, #3f3f3f 45%, #4700a4 88%);
    backdrop-filter: blur(5px);
    padding: 51px 55px 34px;
    margin-left: 35px;
    margin-right: 11px;

    &::before {
      @include image-set("phone-desktop");
      background-position: right;
      inset: -17% -1% -2% 62%;
    }

    &::after {
      @include pseudo-element(auto, auto);
      @include background;
      @include image-set("laptop-desktop");
      background-position: bottom;
      position: absolute;
      inset: 34% 0 -5% 32%;
    }
  }
}
